body{
	background-color: black;
	background-image: url("../img/space.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 2000px;
	color: white;
}

#cookiescore {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#boosts{
	display:flex;
	flex-direction: column-reverse;
}

#clic {

	width : 350px;
	height: 350px;
	background-color: transparent;
	border: none;
	
}
 #affichage{
 	font-size: 50px;
 	text-shadow: 3px 2px 3px black, 0 0 1em blue;
 }

